<!-- third party styles -->
<!-- https://stylishthemes.github.io/Syntax-Themes/pygments/ -->
<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
/>

<!-- include all sass in styles folder -->
<link href="{{ '/_styles/-theme.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/_styles/main.css' | relative_url }}" rel="stylesheet">



<!-- include all css in styles folder -->
<link href="{{ '/_styles/-theme.css' | relative_url }}" rel="stylesheet">
